
@{
    ViewBag.Title = "IndexLogIn";
    Layout = "~/Views/Shared/user_Layout_Slider.cshtml";
}
<!--BLOG AREA-->
<section class="blog-area gray-bg padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="single-blog wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-image">
                        <img src="img/blog/blog_1.jpg" alt="">
                    </div>
                    <div class="blog-details text-center">
                        <div class="blog-meta"><a href="#"></a></div>
                        <h3><a href="single-blog.html">Traffic Monitoring</a></h3>
                        <p>Network Traffic Monitoring Is The Process Of Peviewing, Analyzing And Managing Network Traffic For Any Abnormality Or Process... That Can Affect Network Performance... </p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
                    <div class="blog-image">
                        <img src="img/blog/blog_2.jpg" alt="">
                    </div>
                    <div class="blog-details text-center">
                        <div class="blog-meta"><a href="#"></i></a></div>
                        <h3><a href="single-blog.html">Traffic Controlling</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.That Can Affect Network Performance...</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-blog wow fadeInUp" data-wow-delay="0.4s">
                    <div class="blog-image">
                        <img src="img/blog/blog_3.jpg" alt="">
                    </div>
                    <div class="blog-details text-center">
                        <div class="blog-meta"><a href="#"></a></div>
                        <h3><a href="single-blog.html">Pedestrian Walk Safely</a></h3>
                        <p>our mother was right—you should look both ways before crossing any street. At controlled intersections ,it is wise to cross only when you have the pedestrian crossing light...</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BLOG AREA END-->
<!--SERVICE AREA-->
<section class="service-area">
    <div class="service-top-area padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Our Service</h2>
                        <p>Our well-trained traffic control specialists have the experience and systems in place for lane and complete closures of streets, highways and freeways.</p>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="service-content wow fadeIn">
                        <h2>we offer quick & powerful Traffic solution</h2>
                        <p>All Traffic Solutions is a leader in innovative connected traffic management and parking technologies that leverage the Cloud platform.</p>
                        <a href="#" class="read-more">Learn More</a>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                    <div class="service-catalouge-content-area wow fadeIn">
                        <div class="service-catalouge-bg"></div>
                        <div class="row">
                            <div class="col-md-7 col-lg-7 col-md-offset-5 col-lg-offset-5 col-sm-12 col-xs-12">
                                <div class="catalouge-content">
                                    <h3>Why Choose Us ?</h3>
                                    <p>All Traffic Solutions is a leader in innovative connected traffic management and parking technologies that leverage the Cloud platform.</p>
                                    <ul>
                                        <li><i class="fa fa-check"></i>Autonomous Vehicle Technology</li>
                                        <li><i class="fa fa-check"></i>Real-Time Traffic Feedback</li>
                                        <li><i class="fa fa-check"></i>Tracking Pedestrian Traffic</li>
                                        <li><i class="fa fa-check"></i>Car Sharing and Multi-modal Solutions</li>
                                    </ul>
                                    <a href="#" class="read-more">Learn More</a>
                                </div>
                            </div>
                        </div>

</section>
<br />
<hr />
<!--SERVICE AREA END-->

