
@{
    ViewBag.Title = "AboutUs2";
    Layout = "~/Views/Shared/User Layout With Logout.cshtml";
}

</div>
<div class="welcome-area">
    <div class="area-bg"></div>
    <div class="container">
        <div class="row flex-v-center">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="welcome-text text-center">
                    <h2>About US</h2>
                    <ul class="page-location">
                        <li><a href="#">Home</a></li>
                        <li>/</li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    </header>
<!--ABOUT AREA-->
<section class="about-area gray-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2>welcome to STMS</h2>
                    <p>Welcome to STMS, Country One window Faciliation,Your one step traffic problems solution  facility system</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                <div class="about-left-content-area wow fadeIn">
                    <img src="~/img/about/Group.jpg" height="500px">
                </div>
            </div>
            <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                <div class="about-content-area wow fadeIn">
                    <div class="about-content">
                        <h2>We Have 25 Years Experience In This Passion</h2>
                        <p>In 1956, the National Interstate and Defense Highways Act initiated a 35-year $114 billion program that designed and constructed the Interstate highway system. This hugely successful program was mostly complete by 1991, and the era of build-out was over. In the mid to late 1980s transportation officials from Federal and State governments, the private sector, and universities began a series of informal meetings discussing the future of transportation. This included meetings held by the California Department of Transportation (Caltrans) in October 1986 to discuss technology applied to future advanced highways.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--ABOUT AREA END-->




